body {
    background-color: #111;
    color: #eee;
}

#scene-lab-nav {
    height: 50px;
}

#scene-lab-tools {
    border: solid 3px #008fcc;
    padding: 20px;
}

#default-scene {
    min-width: 100vw;
    min-height: 90vh;
    border: solid 3px #008fcc
}

#scene-lab-main-canvas {
    /* min-width: 100vw; */
    min-height: 500px;
    border: solid 3px lime;
}
